<header>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">{{ site.title }}</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-top" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-top">
      <ul class="nav navbar-nav navbar-right">
        {% assign current_cs61a = nil %}
        {% for p in site.pages %}
          {% assign current = nil %}
          {% if page.url == p.url and p.category == "cs61a" %}
            {% assign current_cs61a = 'active' %}
          {% elsif page.url == p.url %}
            {% assign current = 'active' %}
          {% endif %}
          {% if p.category == "personal" %}
          <li class="{{ current }}"><a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
          {% endif %}
        {% endfor %}
        <li class="dropdown {{ current_cs61a }}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            role="button" aria-haspopup="true" aria-expanded="false">For CS61A Students <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for p in site.pages %}
              {% if p.category == "cs61a" and p.tag == "current"%}
              <li><a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
              {% endif %}
            {% endfor %}
            <li role="separator" class="divider"></li>
            <li><p class="dropdown-header">Past semesters</p></li>
            {% for p in site.pages %}
              {% if p.category == "cs61a" and p.tag != "current"%}
              <li><a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

</header>
