<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <div class="name">Jerry Chen</div>
                    <hr> </hr>
                    <div class="contact">
                      <a href="https://github.com/{{ site.github_username }}"><i
                         class="fa fa-github fa-3x fade social-glyph" aria-hidden="true"></i></a>
                      <a href="https://linkedin.com/in/{{ site.linkedin_username }}"><i
                         class="fa fa-linkedin fa-3x fade social-glyph" aria-hidden="true"></i></a>
                      <a href="https://linkedin.com/in/{{ site.linkedin_username }}"><i
                         class="fa fa-envelope fa-3x fade social-glyph" aria-hidden="true"></i></a>
                      <a href="https://linkedin.com/in/{{ site.linkedin_username }}"><i
                         class="fa fa-file-text fa-3x fade social-glyph" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
