@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

/* Prevent navbar from blocking page */
@media (min-width: 981px) {
    body {
        padding-top: 60px;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

@media (max-width: 767px) {
    .dropdown-header {
        color: inherit;
    }
}

p {
    font-size: 18px;
    line-height: 1.8;
}
