/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  overflow-x: hidden;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #222222;
}


/* Custom page CSS
-------------------------------------------------- */
body > .background {
    background: white;
}

body > .container {
  padding: 0px 50px 0;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

#hero {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background-image: url("../images/golden_gate.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 0;
    left: 0;
}

#hero-container {
    position: relative;
    width: 100%;
    text-align: center;
    height: 100vh;
}

#hero-cover {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.60);
    height: 100%;
    width: 100%;
}

#hero-contact {
    position: absolute;
    top: 60px;
    left: 30px;
}

.hero-items {
    padding-top: calc(50vh - 170px / 2);
}

.hero-box#name {
    font-size: 4em;
    margin-bottom: 40px;
    text-shadow: #333 1px 2px;
    font-weight: 600;
    color: #EDEDED;
}

.hero-box#description {
    font-size: 2.5em;
    margin: 0 auto;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 3px 3px 5px #000;
    font-weight: 600;
}

.hero-box {
    color: #DDD;}

.article-section {
    height: 100vh;
    padding-top: 100px;
    text-align: center;
    background: #fff;
}

#about {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/sather1.jpg");
    background-position: 30% 0%;
    border-width: 1px 0px 0px;
    border-color: #444;
    border-style: solid;
}

#experience {
    position: relative;
    border-width: 1px 0px;
    border-color: #444;
    border-style: solid;
    height: 100%;
}

.background-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/editor-ception.png");
    background-position: 15% 10%;
    -webkit-filter: blur(2px);
    -webkit-transform: scale(1.1);
    -moz-filter: blur(2px);
    -moz-transform: scale(1.1);
    -o-filter: blur(2px);
    -o-transform: scale(1.1);
    filter: blur(2px);
    transform: scale(1.1);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
}

.blur-guard {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
    z-index: 1;
    position: relative;
}

#contact {
    background: #003A70;
    border-width: 1px 0px;
    border-color: #444;
    border-style: solid;
}

#contact a {
    color: #719CF9;
}

.info-line {
    display: block;
}
